<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/png" href="/images/.favicon.ico">
		<meta name="viewport" content="width=device-width" initial-scale=1>
		<title>Catalyst Hub - job</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/job.css" rel="stylesheet">
	</head>
	<body>
		<!--columns container--><div class="float-parent">
			<!--column 1--><div id="sidebar" class="float-child-sidebar"></div><!--column 1-->
			<!--column 2--><div class="float-child-main">
				<b><%=job.title%></b><br>
					<%=job.submittedByName %><br>
					<%=job.submittedByEmail %><br>
					<%=job.submittedByPhone %><br>
					<%=job.company %><br>
					<%=job.city %><br>
					<%=job.payMin %><br>
					<%=job.payMax %><br>
					<%=job.payUnit %><br>
					<%=job.duties %><br>
					<%=job.qualifications %><br>
					<%=job.instructions %><br>
			<!--column 2--></div>
		<!--column container--></div>
		
		
		<script src="/js/jquery.3.6.0.min.js" type="text/javascript"></script>
		<script src="/js/loadSidebar.js" type="text/javascript"></script> 
		<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	</body>
</html>

    

